[Unit]
Description=Brightness Control Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Digital-cluster/brightness_control.py
WorkingDirectory=/home/pi/Digital-cluster
Restart=always
RestartSec=5
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
