[Unit]
Description=Gauge Cluster UI Service
After=network.target graphical.target
Requires=graphical.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Digital-cluster/digital_cluster_main.py
WorkingDirectory=/home/pi/Digital-cluster
Restart=always
RestartSec=5
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=graphical.target
